{% extends 'base.html.twig' %}

{% block content %}
<h1>{{ env.title }}</h1>
<p id="preauth-message">{{ message|default }}</p>
<form id="preauth-form">
    <input id="preauth-nonce" type="hidden" name="preauth_nonce" value="{{ nonce }}">
    <div class="right"><label for="preauth-id">{{ env.id_name }}:</label></div>
    <div><input type="text" name="preauth_id" id="preauth-id"
            autocomplete="username" required="required" autofocus="autofocus"></div>
    <div class="right"><label for="preauth-token">{{ env.token_name }}:</label></div>
    <div><input type="text" name="preauth_token" id="preauth-token"
            autocomplete="one-time-code" required="required"></div>
    <div class="center"><button type="submit">{{ env.submit_name }}</button></div>
</form>
<script>
const form    = document.getElementById('preauth-form');
const message = document.getElementById('preauth-message');

form.addEventListener('submit', (event) => {
    event.preventDefault();

    /* make bas64url string containing our payload json object */
    const data = btoa(JSON.stringify({
        id:    form.preauth_id.value,
        token: form.preauth_token.value,
        nonce: form.preauth_nonce.value,
        json:  true
    })).replace(/\+/g, '-').replace(/\//g, '_').replace(/=+$/, '');

    /* send our request to the server */
    fetch(window.location.href, {
        method: 'GET',
        headers: { 'X-Preauth': data },
    }).then((response) => {
        if (response.headers.has('Location')) {
            /* follow redirect (not needed in most browsers) */
            window.location.href = response.headers.get('Location');
        } else if (response.headers.get('Content-Type') === 'application/json') {
            /* got json, update the page */
            response.json().then((content) => {
                if (Object.hasOwn(content, 'message')) {
                    message.innerText = content.message;
                }
                if (Object.hasOwn(content, 'nonce')) {
                    form.preauth_nonce.value = content.nonce;
                    form.preauth_token.value = '';
                    form.preauth_token.focus();
                }
            }).catch((error) => {
                console.log('failed to parse json from response');
                console.log(error);
            });
        } else { /* non-json, non-redirect response */
            /* overwrite the page */
            response.text().then((text) => {
                document.open();
                document.write(text);
                document.close();
            }).catch((error) => {
                console.log('failed to get text from response');
                console.log(error);
            });
        }
    });
});
</script>
{% endblock %}
